name: build-test

on:
  push:
    branches:
      - main

jobs:
  run:
    name: Run
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.15
        uses: actions/setup-go@v2
        with:
          go-version: 1.15

      - name: Check out source code
        uses: actions/checkout@v2

      - name: Build
        run: go build .

      - name: Test
        run: go test -v ./...
